<%- include ('../partials/adminheader') %>
<main>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Customer List </h2>
        </div>     
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
            
            <form method="GET" action="customermanagement"   >
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" id="search" name="search" placeholder="Search..." class="form-control" value="<%= search %>" >
                </div>
            </form>
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div> -->
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <!-- <th scope="col">Pass</th> -->
                            <th scope="col">Status</th>
                            <th  scope="col"> Block/Unblock </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((row, index) => { %>
                        <tr> 
                            <td><%= index + 1 %></td>                          
                            <td><%= row.name %></td>
                            <td><%= row.email %></td>
                            <td><%= row.mobile %></td>
                            <!-- <td><%= row.password %></td>/ -->
                            <td>
                                <% if (row.isActive===true) { %>
                                    <span class="badge rounded-pill alert-success">UnBlocked</span>
                                <% } else { %>
                                    <span class="badge rounded-pill alert-danger">Blocked</span>
                                <% } %>
                            </td>


                            <td >
                                <% if (row.isActive === true) { %>
                                    <button type="button" class="btn btn-sm font-sm rounded" style="width: 75px; background-color: rgb(255, 0, 0); color: white;" onclick="blockOrUnblockcustomer('<%= row._id %>','block')">Block</button>

                                <% } else { %>
                                    <button type="button" class="btn btn-sm font-sm rounded " style="width: 75px; background-color: rgb(15, 193, 15);" onclick="blockOrUnblockcustomer('<%= row._id %>','Unblock')">UnBlock</button>
                                <% } %>
                                        
                            </td>
                        </tr>
                        <% } ) %>
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
   
    <!-- Pagination Section Begin -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="?page=<%= prevPage %>&search=<%= search %>" data-page="<%= prevPage %>">
                            <i class="material-icons md-chevron_left"></i>
                        </a>
                    </li>
                <% } %>
                <% if (currentPage > 2) { %>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="?page=1&search=<%= search %>" data-page="1">1</a>
                    </li>
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                <% } %>
                <% if (currentPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>" data-page="<%= currentPage - 1 %>"><%= currentPage - 1 %></a>
                    </li>
                <% } %>
                <li class="page-item active">
                    <span class="page-link"><%= currentPage %></span>
                </li>
                <% if (hasNextPage) { %>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>" data-page="<%= currentPage + 1 %>"><%= currentPage + 1 %></a>
                    </li>
                <% } %>
                <% if (nextPage !== lastPage && currentPage !== lastPage) { %>
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="?page=<%= lastPage %>&search=<%= search %>" data-page="<%= lastPage %>"><%= lastPage %></a>
                    </li>
                <% } %>
                <% if (currentPage !== lastPage) { %>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="?page=<%= nextPage %>&search=<%= search %>" data-page="<%= nextPage %>">
                            <i class="material-icons md-chevron_right"></i>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
    <!-- Pagination Section End -->
</section> <!-- content-main end// -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

function blockOrUnblockcustomer(productId, clicked) {
let confirmationMessage;
if (clicked === 'Unlist') {
    confirmationMessage = "Are you sure you want to Block this user?";
} else {
    confirmationMessage = "Are you sure you want to UnBlock this user?";
}

swal({
    text: confirmationMessage,
    buttons: ["cancel", true],
}).then((result) => {
    if (result === true) {
        $.ajax({
            url: `/customerunlist?id=${productId}`,
            method: 'PATCH',
            contentType: 'application/json',
            success: function (response) {
                if (response.success) {
                    if (clicked === 'Unlist') {
                        swal("user UnBlocked!", {
                            icon: "success",
                        }).then(() => {
                            location.reload();
                        });
                    } else {
                        swal("User Blocked!", {
                            icon: "success",
                        }).then(() => {
                            location.reload();
                        });
                    }
                } else {
                    console.error('Blocking/Unblocking failed');
                }
            },
            error: function (xhr, status, error) {
                console.error('Ajax error:', error);
            }
        });
    }
});
}


</script>

<%- include ('../partials/adminfooter') %>