<%- include ('../partials/userheader') %>

   <style>
    .product-grid-4 {
        display: flex;
        flex-wrap: wrap;
        gap: 30px; /* Adjust gap between items as needed */
    }

   </style>
       <!-- Include Axios CDN -->
   <script>
    document.addEventListener("DOMContentLoaded", async function () {
        
        var urlParams = new URLSearchParams(window.location.search);
        var catValue = urlParams.get('cat');
        var categoryLinks = document.querySelectorAll(".shop__sidebar__categories ul li a");
        categoryLinks.forEach(function (link) {
            var href = link.getAttribute("href");
            if (!catValue || (catValue && href.includes('cat=' + catValue))) {
                link.style.color = "black";
            }
       });
    });

    function categoryandsearch(categoryid) {
       var searchInput = document.getElementById('searchInput').value;
       var categoryValue =categoryid;
        window.location.href = `/usershop?cat=${categoryid}&search=${searchInput}`
    }
    
    // Function to sort products by price
    function sortProductsByPrice(sortOrder) {
        const params = new URLSearchParams(window.location.search);
        console.log(params)
        if (sortOrder === 'price_aA_to_zZ') {
            params.set('sort', 'price_aA_to_zZ');
        } else if (sortOrder === 'price_Aa_to_Zz') {
            params.set('sort', 'price_Aa_to_Zz');
        }
        window.location.href = '/usershop?' + params.toString();
    }
    
    // Function to sort products by name
    function sortProductsByName(sortOrder) {
         const currentUrl = window.location.href;
        const url = new URL(currentUrl);
        const params = new URLSearchParams(url.search);
        if (sortOrder == 'name_aA_to_zZ') {
            params.set('sort', 'name_aA_to_zZ')
        } else if (sortOrder === 'name_Aa_to_Zz') {
            params.set('sort', 'name_Aa_to_Zz');
        }
    
        window.location.href = `/usershop?cat=${categoryid}&search=${searchInput}&${params.toString()}` ;
       }
    
    function toggleOutOfStock() {
        var hideOutOfStock = document.getElementById("hideOutOfStockCheckbox").checked;
        // Redirect to the shop page with the updated hideOutOfStock query parameter
        window.location.href = "/usershop?hideOutOfStock=" + hideOutOfStock;
    }
    // Function to update pagination
    function updatePagination(data) {
        const paginationArea = document.querySelector('.pagination-area .pagination');
        paginationArea.innerHTML = '';
        if (data.hasPrevPage) {
            paginationArea.innerHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="changePage(${data.prevPage})">
                        <i class="material-icons md-chevron_left"></i>
                    </a>
                </li>
            `;
        }
        for (let i = 1; i <= data.lastPage; i++) {
            paginationArea.innerHTML += `
                <li class="page-item ${i === data.currentPage ? 'active' : ''}">
                    <a class="page-link" href="#" onclick="changePage(${i})">${i < 10 ? '0' + i : i}</a>
                </li>
            `;
        }
        if (data.hasNextPage) {
            paginationArea.innerHTML += `
                <li class="page-item">
                    <a class="page-link" href="#" onclick="changePage(${data.nextPage})">
                        <i class="material-icons md-chevron_right"></i>
                    </a>
                </li>
            `;
        }
    }
    
    // Function to change the page
    function changePage(page) {
        const params = new URLSearchParams(window.location.search);
        params.set('page', page);
        window.history.pushState({}, '', '?' + params.toString());
        fetchProducts();
    }
    
    // Function to fetch products
    function fetchProducts() {
            const params = new URLSearchParams(window.location.search);
            axios.get('/usershop', { params })
                .then(response => {
                    console.log('Products fetched:', response.data);

                    // Check if the response is a string and needs to be parsed
                    let products;
                    if (typeof response.data === 'string') {
                        products = JSON.parse(response.data).data;
                    } else {
                        products = response.data.data; // Adjust based on actual structure
                    }

                    updateProductArea(products);
                })
                .catch(error => {
                    console.error('Error fetching products:', error);
                });
        }

        function updateProductArea(products) {
            const productArea = document.getElementById('product-area');
            productArea.innerHTML = '';

            if (products && Array.isArray(products)) {
                products.forEach(product => {
                    const productDiv = document.createElement('div');
                    productDiv.textContent = product.name;
                    productArea.appendChild(productDiv);
                });
            } else {
                console.error('Unexpected data structure:', products);
                productArea.textContent = 'No products found.';
            }
        }
 
   async function addToCart(productId) {
    try {
            event.preventDefault();
            const response = await axios.post('/addtocart', { productId });
            if (!response.data.login) {
                return window.location.href = '/userlogin';
            }
            if( response.data.newItem === true ){
                                
                    Swal.fire({
                        title: 'Product Added to Cart',
                        text: 'The selected product has been added to your cart.',
                        icon: 'success',
                        confirmButtonColor: '#28a745',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/viewcart'; // Redirect to the viewcart page
                                }
                            });
            }
        }
        catch (error) {
        if (error.response && error.response.status === 404) {
                console.log("Inside 404 handling");
                return Swal.fire({
                    title: 'Product Out of Stock',
                    text: "You've reached the maximum quantity of products available for purchase.",
                    icon: 'error',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/viewcart'; // Redirect to the viewcart page
                            }
                        });

            } else
            {
        Swal.fire({
            title: 'Error Adding Product to Cart',
            text: error,
            icon: 'error',
            confirmButtonColor: '#d33',
            confirmButtonText: 'OK'
        });
    }
    }
}
</script>
    
<main class="main">
    <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <li><a href="/usershop?cat=All">All</a></li>
                            <% categories.forEach(category => { %>
                                <!-- <li><a href="/usershop?cat=<%= category._id %>"><%= category.name %></a></li> -->

                                <li><a href="#" onclick="return categoryandsearch('<%= category._id %>')" ><%= category.name %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                        <ul class="categories">
                            
                            <li><a href="#" onclick="sortProductsByPrice('price_aA_to_zZ')" >Price: Low to High</a></li>
                            <li><a href="#" onclick="sortProductsByPrice('price_Aa_to_Zz')" >Price: High to Low</a></li>
                            <li><a href="#" onclick="sortProductsByName('name_aA_to_zZ')" > Name: Low to High</a></li>
                            <li><a href="#" onclick="sortProductsByName('name_Aa_to_Zz')" >Name: High to Low</a></li>
                           
                        </ul>
                    </div>
                    <div class="widget-category mb-30">
                        <ul class="categories ">
                            <li>
                        <!-- <h5 class="section-title style-1 mb-30 wow fadeIn animated">Hide Out of stock</h5> -->
                        <input type="checkbox" id="hideOutOfStockCheckbox"  style="width:100; height : 50px" onchange="toggleOutOfStock()">
                        <label for="hideOutOfStockCheckbox">Hide Out of Stock</label>
                    </li> </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-header">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Products</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                            </li>
                        </ul>
                        <!-- <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a> -->
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="product-grid-4">
                                <% data.forEach((row, index) => { %>
                                    <% if (!row.isBlocked && row.category.islisted) { %>
                                        <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/productdetails/<%= row._id %>">
                                                        <img class="default-img" src="/public/photos/<%= row.productImage[0] %>" alt="<%= row.productName %>">
                                                        <img class="hover-img" src="/public/photos/<%= row.productImage[0] %>" alt="">
                                                    </a>
                                                </div>
                                                <!-- <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                </div> -->
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">(<%= row.stock %> Left)</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/productdetails/<%= row._id %>"><%= row.category.name %></a>
                                                </div>
                                                <h2><a href="/productdetails/<%= row._id %>"><%= row.productName %></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span class="old-price">₹<%= row.oldPrice %></span><br>
                                                    <span class="discounted-price">₹<%= row.regularPrice %></span>
                                                    <% if (row.discount) { %>
                                                        <div class="save-amount">Saved 5%</div>
                                                    <% } %>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <button onclick="addToCart('<%= row._id %>')" class="action-btn hover-up"><i class="fi-rs-shopping-cart"></i></button>
                                                </div>
                                            </div>
                            
                                        </div>
                                        </div>
                                    <% } %>
                                <% }); %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                            <div class="product-grid-4">
                                <% data.forEach((row, index) => { %>
                                    <% if (!row.isBlocked && row.category.islisted) { %>
                                        <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/productdetails/<%= row._id %>">
                                                        <img class="default-img" src="/public/photos/<%= row.productImage[0] %>" alt="<%= row.productName %>">
                                                        <img class="hover-img" src="/public/photos/<%= row.productImage[0] %>" alt="">
                                                    </a>
                                                </div>
                                                <!-- <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                </div> -->
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">(<%= row.stock %> Left)</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/productdetails/<%= row._id %>"><%= row.category.name %></a>
                                                </div>
                                                <h2><a href="/productdetails/<%= row._id %>"><%= row.productName %></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span class="old-price">₹<%= row.oldPrice %></span><br>
                                                    <span class="discounted-price">₹<%= row.regularPrice %></span>
                                                    <% if (row.discount) { %>
                                                        <div class="save-amount">Saved 5%</div>
                                                    <% } %>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <button onclick="addToCart('<%= row._id %>')" class="action-btn hover-up"><i class="fi-rs-shopping-cart"></i></button>
                                                </div>
                                            </div>
                            
                                        </div>
                                        </div>
                                    <% } %>
                                <% }); %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                            <div class="product-grid-4">
                                <% newproducts.forEach((row, index) => { %>
                                    <% if (!row.isBlocked && row.category.islisted) { %>
                                        <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/productdetails/<%= row._id %>">
                                                        <img class="default-img" src="/public/photos/<%= row.productImage[0] %>" alt="<%= row.productName %>">
                                                        <img class="hover-img" src="/public/photos/<%= row.productImage[0] %>" alt="">
                                                    </a>
                                                </div>
                                                <!-- <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                </div> -->
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">(<%= row.stock %> Left)</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="/productdetails/<%= row._id %>"><%= row.category.name %></a>
                                                </div>
                                                <h2><a href="/productdetails/<%= row._id %>"><%= row.productName %></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>₹<%= row.regularPrice %></span>
                                                    <span class="old-price"><%= row.discountPrice ? `₹${row.discountPrice}` : '' %></span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <button onclick="addToCart('<%= row._id %>')" class="action-btn hover-up"><i class="fi-rs-shopping-cart"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    <% } %>
                                <% }); %>
                            </div>
                            
                            
                        </div>
                    </div>
                    <!--End tab-content-->
                </div>
            </div>
            </div>
            </section>
            <section class="pt-25 pb-15">
                <!-- Pagination Section Begin -->
       <div class="pagination-area mt-15 mb-50">
           <nav aria-label="Page navigation example">
               <ul class="pagination justify-content-center">
                   <% if (currentPage > 1) { %>
                       <li class="page-item">
                           <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>&cat=<%= cat %>">
                               <i class="material-icons md-chevron_left"></i>
                           </a>
                       </li>
                   <% } %>
                   <% for (let i = 1; i <= lastPage; i++) { %>
                       <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                           <a class="page-link" href="?page=<%= i %>&search=<%= search %>&cat=<%= cat %>"><%= i < 10 ? '0' + i : i %></a>
                       </li>
                   <% } %>
                   <% if (currentPage < lastPage) { %>
                       <li class="page-item">
                           <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>&cat=<%= cat %>">
                               <i class="material-icons md-chevron_right"></i>
                           </a>
                       </li>
                   <% } %>
               </ul>
           </nav>
       </div>
       </section>
           


<!-- Pagination Section End -->

    
</main>
<%- include ('../partials/userfooter') %>
