<%- include ('../partials/userheader') %>
    <main class="main">       
        <section class="home-slider position-relative pt-50">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-7 col-md-9">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Exclusive Trade-In Deals</h4>
                                    <h2 class="animated fw-900">Unlock Massive Savings!</h2>
                                    <h1 class="animated fw-900 text-brand">On all products</h1>
                                    <p class="animated">Explore Now & Save Up to 70% with Coupons.</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop Now </a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-3">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/public/photos/<%= data[0].productImage[0] %>" alt="">
                                </div>
                            </div>
                       
                            
                        </div>
                    </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="container">
                <!-- <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                         <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                        </li> 
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li> 
                    </ul>
                </div> -->
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% data.forEach((row,index)=>{ %>
                                <% if (!row.isBlocked && row.category.islisted) { %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <!-- <a href="/productdetails/<%= row._id %>"> Add the <a> tag here -->
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/productdetails/<%= row._id %>">
                                                <img class="default-img" src="/public/photos/<%= row.productImage[0] %>" alt="<%= row.productName %> ">
                                                
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/productdetails/<%= row._id %>"><%= row.category.name %></a>
                                        </div>
                                        <h2><a href="/productdetails/<%= row._id %>"><%= row.productName %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span><%= row.discount %></span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span class="old-price">₹<%= row.oldPrice %></span><br>
                                            <span class="discounted-price">₹<%= row.regularPrice %></span>
                                            <% if (row.discount) { %>
                                                <div class="save-amount">Saved 5%</div>
                                            <% } %>
                                        </div>
                                        <div class="product-action-1 show">
                                            <button onclick="addToCart('<%= row._id %>')" class="action-btn hover-up"><i class="fi-rs-shopping-cart"></i></button>
                                        </div>
                                    </div>

                                    <!-- <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/productdetails/<%= row._id %>"><%= row.category.name %></a>
                                        </div>
                                        <h2><a href="/productdetails/<%= row._id %>"><%= row.productname %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%= row.regularprice %></span>
                                            <% if (row.discount) { %>
                                                <span class="old-price"><%= row.discount %>%</span>
                                            <% } %>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="/addtocart"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div> -->
                                </a> 
                                </div>
                            </div>
                            <% } %>
                         <% }); %>
                        <!--End product-grid-4-->
                    </div>
                    
                </div>
                <!--End tab-content-->
            </div>
        </section>
        <!-- <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-1.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"> <img src="/public/user/assets/imgs/shop/category-thumb-2.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Bags</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-3.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Sandan</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-4.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-5.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Shoes</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-6.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-7.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img src="/public/user/assets/imgs/shop/category-thumb-8.jpg" alt=""></a>
                            </figure>
                            <h5><a href="shop-grid-right.html">Hats</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/user/assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html" style="font-family: Arial, sans-serif; font-size: 40px; font-weight: bold; color: #333; text-decoration: none;"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/public/user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/public/user/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/public/user/assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/user/assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">ShoeShack</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/public/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user/assets/js/plugins/slick.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user/assets/js/plugins/wow.js"></script>
    <script src="/public/user/assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user/assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/user/assets/js/plugins/select2.min.js"></script>
    <script src="/public/user/assets/js/plugins/waypoints.js"></script>
    <script src="/public/user/assets/js/plugins/counterup.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user/assets/js/plugins/images-loaded.js"></script>
    <script src="/public/user/assets/js/plugins/isotope.js"></script>
    <script src="/public/user/assets/js/plugins/scrollup.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/public/user/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/public/user/assets/js/main.js"></script>
    <script src="/public/user/assets/js/shop.js"></script>

   
</body>


<!-- Mirrored from wp.alithemes.com/html/ShoeShack/ShoeShack-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:25:49 GMT -->
</html>